nav{

    margin: 5px;
    padding: 12px;
    border: 1px solid white;
    background: grey;
    text-align-last: center;
}
.banner{
    background-color: skyblue;
    padding: 200px;
    margin: 5px;
    text-align-last: center;

}

.circle{
        
        background: yellow;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        float: left;
        padding: 30px;
        margin: 60px;
        margin-left: 125px;
        margin-top: 20px;
        
}
.section1{
    text-align: center;
}
.section2{
    margin: 5px;
}